{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Smart Learning Hub</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-page">

<div class="login-container">

    <div class="login-card">

        <div class="login-logo">
            📚
        </div>

        <h2>Smart Learning Hub</h2>

        <p class="login-subtitle">
            Silakan login untuk melanjutkan.
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">
                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Masukkan username"
                    required>
            </div>

            <div class="input-group">
                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Masukkan password"
                    required>
            </div>

            <button type="submit" class="login-btn">

                Login

            </button>

        </form>

        {% if error %}

        <div class="error-box">

            {{ error }}

        </div>

        {% endif %}

        <div class="login-footer">
            <p> Hubungi administrator apabila belum memiliki akun.</p>


        </div>

    </div>

</div>

</body>
</html>